@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-sage-green: #6c9225;
  --color-lime-green: #8dc21f;
  --color-cream: #e7e1d5;
  --color-vanilla: #f0e9db;
  --color-forest-dark: #274e13;
  --color-forest-darker: #1f3f0f;
  --color-taupe: #cab99e;
  --color-beige: #e5d9c6;
  --color-sand: #e6d5b5;
  --color-olive-dark: #424e2b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #e5d9c6;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.dark:root,
:root.dark,
.dark :root {
  background-color: #0f172a; /* тёмно-синий как в Tailwind bg-slate-900 */
  color: #f1f5f9; /* светло-серый текст */
  transition: background-color 0.3s, color 0.3s;
}

.dark .leaflet-layer,
.dark .leaflet-control-zoom-in,
.dark .leaflet-control-zoom-out,
.dark .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.dark .leaflet-container {
  background: #000;
}

.leaflet-attribution-flag {
  display: none !important;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
